/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --subtitle-text-color: #000028;
  --accent-color: #ff0070;
  --section-title-color: var(--accent-color);
}

.theme-dark .decorative_element {
  display: inline;
}

.theme-dark .decorative_element:before {
  display: inline;
}
