/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--background-color);
}

.header {
  block-size: 100vh;
  min-block-size: 667px;
  max-block-size: 1024px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-block: var(--general-margin-padding);
  padding-inline: var(--general-margin-padding);
}

.decorative_element {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--accent-color);
  position: absolute;
  justify-self: end;
  padding-inline-end: 38px;
  top: var(--general-margin-padding);
}

.decorative_element:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: blur(2px);
  inset-block-start: 56%;
  inset-inline-end: 17px;
  transform: translateY(-50%);
}

.decorated-zone {
  position: relative;
}

.decorated-zone:before {
  content: "";
  position: absolute;
  top: var(--general-margin-padding);
  right: var(--general-margin-padding);
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorated-zone:after {
  content: "";
  position: absolute;
  bottom: var(--general-margin-padding);
  left: var(--general-margin-padding);
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--section-title-color);
}

.header__theme-menu-button {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 18px;
  text-transform: lowercase;
  font-weight: 400;
  background-color: transparent;
  border: transparent;
  inline-size: 70px;
  block-size: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block-end: 5px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--section-title-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid
    color-mix(in srgb, var(--section-title-color) 50%, transparent);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--section-title-color);
}

.header__title {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  grid-row: 3;
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 18px;
  line-height: 23.3px;
  font-weight: bold;
  display: inline-block;
  inline-size: clamp(19.7em, 47.7vw, 27.27em);
  block-size: fit-content;
  color: var(--subtitle-text-color);
  align-self: center;
  justify-self: end;
}

.title-decor {
  background-color: var(--accent-color);
}

.main-content {
  display: grid;
  grid-auto-rows: auto;
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 18px;
  gap: 50px;
  margin-block: 40px;
  line-height: 23.3px;
  padding-inline: var(--general-margin-padding);
}

.section {
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
}

.section__title {
  font-weight: bold;
  font-size: 18px;
  color: var(--section-title-color);
}

.сard {
  display: flex;
  gap: 10px;
}

.card-list {
  display: grid;
  gap: 20px;
}

.card__title {
  color: var(--subtitle-text-color);
  font-weight: bold;
  background-color: var(--accent-color);
  margin-block-end: 10px;
}

.card__title_regular {
  font-weight: 400;
}

.card__title-no-margin {
  margin-block-end: 0;
}

.card__text {
  font-weight: 400;
  color: var(--main-text-color);
  line-height: 23.4px;
}

.link {
  text-shadow: 2px 1.5px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1.5px solid var(--main-text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1.5px solid var(--main-text-color);
}

.section__gallery_content {
  display: grid;
  gap: 10px;
}

.section__gallery_content-image {
  inline-size: 100%;
}

.footer {
  block-size: 100vh;
  min-block-size: 667px;
  max-block-size: 1024px;
  display: flex;
  padding-inline: var(--general-margin-padding);
}

.footer__title {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  text-transform: lowercase;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
}

@media (width >= 768px) {
  :root {
    --general-margin-padding: 20px;
  }

  .decorative_element {
    padding-inline-end: 47.9px;
  }

  .decorative_element:before {
    inset-inline-end: 27px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main-content {
    margin-block: 60px;
    gap: 80px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section-odd {
    grid-column: 2;
  }

  .section-even {
    grid-column: 1 / -1;
  }

  .section__gallery .card__title {
    margin-block-end: 20px;
  }

  .section__gallery_content {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    inline-size: 100%;
    grid-auto-flow: dense;
  }

  .section__gallery_content-image {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }

  .section__gallery_content-image:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
  }

  .section__gallery_content-image:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .section__gallery_content-image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .section__gallery_content-image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section-odd {
    grid-column: 2 / 4;
  }

  .section-even {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }
}
